body{
    background:radial-gradient(red,blue);
    background-attachment:fixed;
       
}
.t {
    width: 30%;
    height: 50%;
    margin:70px auto;
    
}
.t td{
    padding: 5px;
    border-radius:10px;
}
.display {
    width: 100%;
    font-size:24px;
    text-align: right;
    height: 60px;
    background-color:white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        outline: none;
        padding: 0px;
    }
input[type="button"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    cursor:pointer;
    background-color: #3498db;
    color: #ffffff;
    border:none;
    outline:none;
    border-radius: 5px;
    transition:background-color 0.2s;
    
}
.b:hover {
    background-color: #2980b9;
}
#b{
    background-color: #f09e32;
}
#b:hover{
background-color: #e4870d;
}
#c{
    background-color: rgb(138, 108, 72);
}
#c:hover{
    background-color: #69542c;
}
#ph{
    text-align: center;
    padding:10px;
    height:33px;
    background-color: rgb(138, 108, 72);
    border-radius:5px;  
    cursor: pointer;
    transition:background-color 0.2s;
}
#ph:hover{
    background-color: #69542c ;
}
#clr{
    background-color:rgb(138, 108, 72);
    text-align:center;
    color:#ffffff;
    font-size:20px;
    padding:15px;
    border-radius:5px;
    font-family:Arial, sans-serif;
    cursor:pointer;
    transition:background-color 0.2s;
}
#clr:hover{
    background-color: #69542c;
}

p{
    text-align: center;
    margin-top: 116px;
    font-family: Arial, sans-serif;
    color:white;
  }

#cl{
    width:95px;
}
